{{ form_start(form) }}
{{ form_row(form.nom, {'attr': {'class': 'form-control', 'style': 'width: 400px;'}}) }}
    <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
